/* Geral */
a {
    text-decoration: none;
}

header {
    background-color: #121212;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: 0.3s;
}

/* Logo */
header .logo {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 5%;
    width: 100%;
}

header .logo h1 {
    color: black;
    font-size: 110%;
    font-weight: bold;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #0062ff 0%, #61efff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    transition: 0.3s;
    user-select: none;
}

header .logo h1:hover {
    transform: scale(1.02);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin: 0 1rem;
    white-space: nowrap;
    /* Corrige a quebra de linha dos itens */
}

.nav-link {
    font-size: 1rem;
    color: var(--font-nav-color);
    padding: 5px;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
}

.nav-link:hover {
    color: #4682b4;
}

/* Hambúrguer Menu */
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    background-color: #fff;
    display: block;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    width: 25px;
}

#itens {
    margin-right: 5%;
}

/* Responsivo */
@media only screen and (max-width: 873px) {


    header .logo {
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .logo {
        width: 100%;
    }

    .navbar {
        flex-direction: column;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 9rem;
        left: 0;
        width: 100%;
        background-color: #222;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        transition: 0.3s;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-item {
        margin: 1rem 0;
        text-align: center;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .hidden {
        scale: 0;
    }
}