/* CSS para redefinir todos os designs

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: fonte-nav;
    src: url('../fonts/Pokemon-Hollow.ttf');
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* adicionar estilos aos elementos */

.header {
    border-bottom: 1px solid #E2E8F0;
    background-color: var(--bg-nav-color);
    font-family: fonte-nav;
    position: relative;
    z-index: 999;
    align-self: center;
    padding: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    /* align-items: center;
    text-align: center; */
    margin-right: 6rem;
}

.nav-item {
    margin-left: 4rem;
}

.nav-item:nth-child(1) {
    margin-left: 2rem;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--font-nav-color);
}

.nav-link:hover {
    color: #482ff7;
}

.nav-logo {
    margin: 0;
    display: flex;
    /* Adiciona essa linha */
    align-items: center;
    /* Adiciona essa linha */
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.nav-logo>img {
    max-width: 30%;
    min-width: 10rem;
    margin: auto;
    transition: all 1s ease-in-out;
}


@media only screen and (max-width: 850px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #222;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-link {
        color: #fff;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}